{
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["warn", "single"],
    "semi": "off",
    "no-extra-semi": "error",
    "camelcase": "off",
    "eqeqeq": "warn",
    "space-before-function-paren": "off",
    "spaced-comment": "warn",
    "semi-spacing": "warn",
    "keyword-spacing": "warn",
    "block-spacing": "error",
    "react/prop-tyes": 0,
    "react/display-name": 0,
    "prettier/prettier": "error"
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  }
}